.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30%;
  max-width: 300px;
  margin-bottom: 2em;
  margin-left: 2em;
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
